<div class="newsalebox">
<div class="container topline">
  <div class="row">
    <div class="col-md-6">
      <h4>Your Information</h4>

      <%= render 'form' %>
      </div>
      <div class="col-md-6">
        <div class="pricingpanel">
          <h3>Pricing</h3>

          <p>LIMITED TIME SALE</p>

          <div class="strikedprice">$300.00 per bottle</div><br><div class="realprice">   $150.00 per bottle</div>

          <div class="perks">
            <h3>*We Gaurantee Alpha Juice Will...</h3>

            <table class="table">
          <tr>
            <td>
              <i class="glyphicon glyphicon-education" ></i>
            </td>
            <td>
              Double<br> Your IQ
            </td>
            <td>
              <i class="glyphicon glyphicon-usd"></i>
            </td>
            <td>
              Make You <Br>Tons of Cash
            </td>
            <td>
              <i class="glyphicon glyphicon-scale"></i>
            </td>
            <td>
              Help Build <br>Completely <br>Unnecessary <br>Muscle Mass
            </td>
          </tr>
        </table>

        <br>
        <br>
        <h5>
          *Studies are completely inconclusive. Alpha Juice gaurantees nothing beyond temporary headaches and bloating.
        </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
