<div class="mainfooter">
      <a href="/#stickyheader">
        Alpha Juice <i class="glyphicon glyphicon-copyright-mark"></i> 2015
      </a>
      |
    <a href="/terms">Terms</a> |
    <a href="/terms">FAQ</a> |
    <a href="/terms">Contact</a> |
    <a href="/terms">Legal</a> |
    <a href="/terms">Careers</a>
</div>
