
<div class="mainheader">

    <a id="mainlogo" href="/">
      <img src="/ajlogo.png" alt="" class="mainheaderlogo"/>
    </a>


    <ol class="nav nav-pills breadcrumbs headernav">
      <li>
        <a href="/#livestats" class="orderb">
          Join The Movement
        </a>
      </li>

      <li>
        <a href="https://twitter.com">
          <img class="sicons" src="/twitter.png" alt="" />
        </a>
      </li>
      <li>
        <a href="https://facebook.com">
          <img class="sicons" src="/facebook.png" alt="" />
        </a>
      </li>
      <li>
        <a href="https://youtube.com">
          <img class="sicons" src="/youtube.png" alt="" />
        </a>
      </li>
    </ol>

</div>
